.panel{
	height: 240px;
    width: 250px;
    background-color: rgb(40, 49, 176);
    border: 5px solid black;
}
.projectsidebyside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidetoside{
    width: 500px;
    height: 500px;
}
#righttoright{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.linkblock{
    display: inline-block;
    padding: 8px 12px;
    background-color: rgb(29, 189, 120);
}