.panel{
	height: 250px;
    width: 250px;
    background-color: rgb(40, 49, 176);
    border: 5px solid black;
}
sidetoside{
    float:left;
    width: 100px;
    height:100px
    background-color:rgb(40, 49, 176);
}
